.form-input {
  @apply sm:text-xs focus:ring-blue-500 focus:border-blue-500 block w-full py-3 text-gray-900 bg-blue-100 border border-blue-700 rounded-lg;
}
.avatar {
  @apply ring-2 ring-Shades w-10 h-10 rounded-full;
}
.checkers {
  @apply focus:ring-blue-500 focus:ring-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded;
}

.inputHolder {
  @apply placeholder:text-Shades placeholder:text-2xl ring ring-dim/10 w-full py-4 my-4 border-none rounded-lg;
}
